body {
    background: linear-gradient(45deg, #2F2519, #4A3F35, #FA7D09, #e54d26);
    background-repeat: no-repeat;
    background-size: cover;
    
    
    font-family: 'VT323', monospace;
    color: #f3f3f3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
    box-sizing: border-box;
}


h1 {
    font-size: 5vw;
}

.escondido{
    display: none;
}



button {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    font-size: 24px;
    background: #070d12;
    color: white;
    text-align: left;
    border: 4px solid;
    border-color: #e54d26;
    border-radius: 50px;
    padding: 18px 15px;
    cursor: pointer;
}

button:hover {
    background:
        #e54d26 100%;

}

